.skitka {
    width: 1800px;
    height: 820px;
    margin-top: 120px;
    &_box {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 136px;
        height: 820px;
        border-radius: 50px ;
        background-image: url(/public/6.png);
    }

    &_esse {
        width: 648px;
        height: 580px;
        display: block;
        column-gap: 36px;
    }

    &_title {
        color: #fff;
        font-size: 48px;
        font-weight: 700;
    }

    &_text1 {
        color: #fff;
        margin-top: 36px;
        width: 648px;
        height: 342px;
        font-size: 28px;
        font-weight: 600;

    }

    &_text2 {
        color: #9c9c9c;
        margin-top: 36px;
        font-size: 18px;
        font-weight: 500;
    }

    &_card {
        width: 536px;
        height: 580px;

    }

    &_card-text {
        background-color: #fff;
        border-radius: 0px 0px 20px 20px;
        height: 174px;
        width: 536px;
        display: grid;
        align-items: center;
        display: grid;
        padding-left: 40px;
        align-content: center;

    }


}

.card_text {
    width: 394px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;

}
