.arenda {
    margin: 85px 0px;

       &_box{
display: block;
margin: 0 auto;
     
       }
    &_cards {
        width: 648px;
        height: 584px;
        gap: 24px;
        display: flex;
       
    }

    &_title {
      
font-size: 48px;
font-weight: 700;
line-height: 62px;
text-align: left;



    }

    &_cards-title {

        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
        text-align: left;
        margin-bottom: 22px;
        position: relative;
        left: 50px;
    }

    &_cards-text {
        color: #989898;
        font-family: PP Pangram Sans;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        width: 402px;
        height: 52px;
        position: relative;
        left: 50px;
    }
}

.title-text {
    height: 194px;
    width: 648px;
    background-color: #fff;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}