.adres {

    &_box {
        background-color: #fff;
        border-radius: 20px;
        width: 1320px;
        height: 271px;
        padding: 45px 70px 50px 70px;
        transform: translateY(-97px);
        display: block;
        margin: 0 auto;
    }

    &_box-box {
        display: flex;
        gap: 46px;
    }

    &_input {
        display: flex;
        gap: 20px;
    }

    &_title {
        padding-bottom: 30px;
        font-weight: 800;
    }
}

.chek_btn {
    background: linear-gradient(67.38deg, #9F7437 9.19%, #E3D293 92.03%);
    padding: 28px 34px;
    border-radius: 20px;
    color: #fff;
}



input {
    border: none;
    background-color: #f5f5f5;
}

.nachalo,
.zavershena {
    background-color: #f5f5f5;
    padding: 30px 70px 30px 30px;
    border-radius: 10px;
    width: 242px;
    height: 76px;
    display: flex;
    column-gap: 16px
}

.cheks_1 {
    display: flex;
    gap: 26px;
}

.cheks_2 {
    display: flex;
    gap: 26px;
    margin-top: 14px;
}

.cheks {
    display: flex;
    column-gap: 14px;
}